<li id="event-<%= event.id %>">
  <%= link_to gravatar_for(event.user, size: 50), event.user %>
  <span class="user"><b><%= event.title %></b></span>
  <span class="content"><span style="color:#999999;" class="glyphicon glyphicon-globe" aria-hidden="true"></span> <%= event.address %></span>
  <span class="content"><span style="color:#999999;" class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 
  <%= event.start_date.try(:strftime, '%B %e, %Y') %> 

    <% if event.start_date != event.end_date %>  
      - <%= event.end_date.try(:strftime, '%B %e, %Y') %>
    <% end %>
  </span>

  <span class="content"><%= event.content %>
  <%= image_tag event.picture.url if event.picture? %>
</span>
  <span class="timestamp">
    Created by <%= link_to event.user.name, event.user %> <%= time_ago_in_words(event.created_at) %> ago.
    <% if current_user?(event.user) %>
      <%= link_to "delete", event, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>